# setuptools / editable install artifacts
*.egg-info/
*.egg-link

# pip cache / build directories
build/
dist/

# other python stuff
*.pyc
__pycache__/

/exploratory/ere_precipitation/output/
/exploratory/ere_precipitation/listas_medias/