# setuptools / editable install artifacts
*.egg-info/
*.egg-link
*.vscode/

# pip cache / build directories
build/
dist/

# figures
*.png
*.jpeg
*.jpg

# nc files
*.nc

# csv files
*.csv

# output
output/
results/

# other python stuff
*.pyc
__pycache__/
